@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Open+Sans&display=swap');  /*Header */
* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.sidebar {
    background-color: rgb(90, 89, 89);
    color: white;
    width: 100vw;
}

.sidebar nav {
    padding: 50px;
    font-size: 30px;
    align-items: center;
}

.sidebar nav li {
    list-style: none;
    float: left;
    padding: 25px;
}

.main {
    /* background-color: yellow; */
    width: 100vw;
    height: 100vh;

}

.header{
    text-align: center;
    padding-top: 10vh;
    font-size: 50px;
    font-family: 'Alkalami', serif;
font-family: 'Open Sans', sans-serif;
}
.devinfo{
     padding-left: 50px;
     text-align: left;
     display: flex;
     justify-content: center;
     flex-direction: column;
}

.hello{
font-size: 60px;
font-family: 'Open Sans', sans-serif;
}

.hello span{
    font-weight: bold;
    font-family: 'Alkalami', serif;
font-family: 'Open Sans', sans-serif;
}
.about{
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;

}
.buttons button{
    font-family: 'Open Sans', sans-serif;


}

.infoContainer{
    background-color: rgb(174, 169, 169); 
    height: 50vh;
    width: 90vw;
    color: black;
    display: flex;
    margin: 20px auto;
}

