.about__container {
    display: grid;
    gap: 40px; 
    padding-left: 10rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.about__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem; /* Adjust spacing as needed */
    justify-content: space-between; /* Distribute cards evenly */
}

.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem; /* Adjust padding if needed */
    text-align: center;
    flex: 1; /* Apply flex property */
    height: 250px; /* Adjust initial height as needed */
    overflow: hidden; /* Hide overflowing content */
}

.about__card:hover {
    height: auto; /* Expand to fit content on hover */
}

.about__card h5 {
    font-size: 0.95rem;
}

.about__card small {
    font-size: 0.7rem;
    color: var(--color-light);
}

.about__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
    line-height: 1.5; /* Adjust line height for readability */
}



/* Optional: Add a "Read More" link for expanded view */
.about__card.expanded {
    text-align: center;
}

.about__card.expanded a {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid #333;
    border-radius: 3px;
    color: #333;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.about__card.expanded a:hover {
    background-color: #eee;
}

@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
        padding-left: 0; /* Adjust padding for smaller screens */
    }

    .about__me {
        width: 100%; /* Set width to 100% for full-width on smaller screens */
        margin: 2rem auto 4rem;
    }

    .about__content p {
        margin: 1rem 0 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .about__me {
        width: 100%; /* Set width to 100% for full-width on smaller screens */
        margin: 0 auto 3rem;
    }

    .about__cards {
        gap: 1rem;
        grid-template-columns: 1fr; /* Adjust to a single column for better mobile layout */
    }

    .about__content {
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }
}
